@import "./reset";
@import "./theme.css";
@import "./components/**/*.css";

:root {
	height: 100%;

	font: {
		family: "Work Sans", sans-serif;
		weight: 300;
	}
}

body {
	min-height: 100%;

	background-color: rgb(250, 250, 250);
	color: rgb(24, 24, 24);
}