[data-component="wysiwyg"] {
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.2;

	> * {
		margin-top: 1rem;

		&:first-child {
			margin-top: 0;
		}
	}

	> h2 {
		font-size: 2rem;
		font-weight: 100;
	}

	blockquote {
		padding: 0.5rem 0 0.5rem 1rem;
		margin-left: 0.5rem;
		border-left: 1px solid #ccc;
	}

	p > code {
		/* Shamelessly ripped from StackExchange */
		font-family: monospace;
		background-color: #eff0f1;
		padding: 1px 5px;
	}

	a {
		color: var(--color-accent);
	}

	ul {
		list-style: disc;
		margin-left: 1rem;
	}
}