[data-component="wysiwyg"] > .highlighter-rouge {
	overflow-x: auto;

	border-left: 1px solid var(--color-subtle);
	padding-left: 0.75rem;
	font-family: monospace;

	margin-left: 0.5rem;
	line-height: 1.4;

	pre code {
		display: block;
		white-space: pre;
		overflow-x: auto;
		word-wrap: normal;

		padding-bottom: 0.3rem;
		padding-top: 0.3rem;
		/* line-height: 1.15; */
	}

	.c {
		color: #999988;
		font-style: italic
	} /* Comment */
	.err {
		color: #A61717;
		background-color: #E3d2d2
	} /* Error */
	.k {
		color: #D21F1F;
	} /* Keyword */
	.o {
	} /* Operator */
	.cm {
		color: #A32BB6;
		font-style: italic
	} /* Comment.Multiline */
	.cp {
		color: #999999;
		} /* Comment.Preproc */
	.c1 {
		color: #A32BB6;
		font-style: italic
	} /* Comment.Single */
	.cs {
		color: #999999;
		font-style: italic
	} /* Comment.Special */
	.gd {
		color: #000000;
		background-color: #FFDDDD
	} /* Generic.Deleted */
	.gd .x {
		color: #000000;
		background-color: #FFAAAA
	} /* Generic.Deleted.Specific */
	.ge {
		font-style: italic
	} /* Generic.Emph */
	.gr {
		color: #AA0000
	} /* Generic.Error */
	.gh {
		color: #999999
	} /* Generic.Heading */
	.gi {
		color: #000000;
		background-color: #DDFFDD
	} /* Generic.Inserted */
	.gi .x {
		color: #000000;
		background-color: #AAFFAA
	} /* Generic.Inserted.Specific */
	.go {
		color: #888888
	} /* Generic.Output */
	.gp {
		color: #555555
	} /* Generic.Prompt */
	.gs {
		font-weight: bold
	} /* Generic.Strong */
	.gu {
		color: #AAAAAA
	} /* Generic.Subheading */
	.gt {
		color: #aa0000
	} /* Generic.Traceback */
	.kc {
		color: #D21F1F;
	} /* Keyword.Constant */
	.kd {
		color: #D21F1F;
	} /* Keyword.Declaration */
	.kp {
	} /* Keyword.Pseudo */
	.kr {
		color: #D21F1F;
	} /* Keyword.Reserved */
	.kt {
		color: #445588
	} /* Keyword.Type */
	.m {
		color: #009999
	} /* Literal.Number */
	.s {
		color: #38BA14
	} /* Literal.String */
	.na {
		color: #008080
	} /* Name.Attribute */
	.nb {
		color: #0086B3
	} /* Name.Builtin */
	.nc {
		color: #445588
	} /* Name.Class */
	.no {
		color: #008080
	} /* Name.Constant */
	.ni {
		color: #800080
	} /* Name.Entity */
	.ne {
		color: #990000
	} /* Name.Exception */
	.nf {
		color: inherit
	} /* Name.Function */
	.nn {
		color: #555555
	} /* Name.Namespace */
	.nt {
		color: #000080
	} /* Name.Tag */
	.nv {
		color: #008080
	} /* Name.Variable */
	.ow {
		} /* Operator.Word */
	.w {
		color: #bbbbbb
	} /* Text.Whitespace */
	.mf {
		color: #009999
	} /* Literal.Number.Float */
	.mh {
		color: #009999
	} /* Literal.Number.Hex */
	.mi {
		color: #E77A10
	} /* Literal.Number.Integer */
	.mo {
		color: #009999
	} /* Literal.Number.Oct */
	.sb {
		color: #38BA14
	} /* Literal.String.Backtick */
	.sc {
		color: #38BA14
	} /* Literal.String.Char */
	.sd {
		color: #38BA14
	} /* Literal.String.Doc */
	.s2 {
		color: #38BA14
	} /* Literal.String.Double */
	.se {
		color: #38BA14
	} /* Literal.String.Escape */
	.sh {
		color: #38BA14
	} /* Literal.String.Heredoc */
	.si {
		color: #38BA14
	} /* Literal.String.Interpol */
	.sx {
		color: #38BA14
	} /* Literal.String.Other */
	.sr {
		color: #009926
	} /* Literal.String.Regex */
	.s1 {
		color: #38BA14
	} /* Literal.String.Single */
	.ss {
		color: #990073
	} /* Literal.String.Symbol */
	.bp {
		color: #999999
	} /* Name.Builtin.Pseudo */
	.vc {
		color: #008080
	} /* Name.Variable.Class */
	.vg {
		color: #008080
	} /* Name.Variable.Global */
	.vi {
		color: #008080
	} /* Name.Variable.Instance */
	.il {
		color: #009999
	} /* Literal.Number.Integer.Long */
}